body {
    padding-top: 70px;
}

input[name="cost"] {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

textarea[name="description"] {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.Post-container {
    position: relative;
}

.Post-container .generalPost, .vicePost, .foodPost, .transportPost  {
    display: none;
}

#mapper{
    width: 100%;
    height: 400px;
    background-color: #08ad6b;
}

.All-posts{
    height: 700px;
    overflow: auto;
}
